#expandSearch {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#expandSearch:hover {
  cursor: pointer;
}

button.expandSearch {
  float: left;
  width: 20%;
  padding: 10px;
  background: #5c57a5;
  color: white;
  font-size: 17px;
  border: 1px #5c57a5;
  border-left: none;
  cursor: pointer;
}

.search-btn:hover {
  background-color: white !important;
  color: black !important;
}

.custom-search {
  margin-right: 0 !important;
}

.search {
  font-size: 5px !important;
}
